.banner {
    width: 100vw;
    height: auto;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    background-color: #000;
}

.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    opacity: 1;
    filter: brightness(70%);
    margin-top: -125px; /* Ajuster cette valeur selon le besoin */
}

.icons {
    /* padding: 1em; */
    font-size: 2em;
    fill: #5865F2;
    transition: fill 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 90%;
    left: 40%;
    width: 90px;
    height: 90px;
    transform: translate(-50%, -50%);
    gap: 10px;
    display: flex;
}

.icons-2 {
    fill: #fff;
    transition: fill 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 90%;
    left: 60%;
    width: 65px;
    height: 65px;
    transform: translate(-50%, -50%);
    gap: 10px;
    display: flex;
}
  

.icons:hover {
    fill: #9c0202; 
     
} 

.icons-2:hover {
    fill: #9c0202; /* Change la couleur au survol */
}
 

@media (max-width: 768px) {
    .banner {
        height: 50svh; /* Ajuster la hauteur pour les petits écrans */
    }

    .banner video {
        height: 50svh; /* Ajuster la hauteur pour les petits écrans */
    }

    .icons {
        padding: 0.5em; /* Réduire le padding pour les petits écrans */
        font-size: 1em; /* Ajuster la taille de la police pour les petits écrans */
    }
    .icons-2 {
        padding: 0.5em; /* Réduire le padding pour les petits écrans */
        font-size: 1em; /* Ajuster la taille de la police pour les petits écrans */
    }
}
